# Application Configuration
SPRING_APPLICATION_NAME=FranquiciaCore
SPRING_PROFILES_ACTIVE=prod

# Server Configuration
SPRING_WEBFLUX_BASE_PATH=/franquiciacore
SPRING_MVC_SERVLET_PATH=/franquiciacore

# MongoDB Configuration
MONGODB_HOST=mongo
MONGODB_PORT=27017
MONGODB_DATABASE=franchise_db_prod
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password
MONGODB_AUTH_SOURCE=admin

# Docker Configuration
DOCKER_IMAGE_NAME=franquiciacore
DOCKER_CONTAINER_NAME=franquicia-api
DOCKER_MONGO_CONTAINER_NAME=franchise-mongo
DOCKER_MONGO_EXPRESS_CONTAINER_NAME=franchise-mongo-express

# Ports
APP_PORT=8080
MONGO_PORT=27017
MONGO_EXPRESS_PORT=8081

# Logging
LOGGING_LEVEL_COM_ACCENTURE_FRANQUICIACORE=DEBUG
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG 
